body {
  background-color: rgb(205, 228, 245) ;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  margin-bottom: 50px;
}

.about {
  margin-left: 20px;
  margin-right: 20px;
}

.btn {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

p {
  text-align: justify; 
}

h2 {
  background-color: rgb(138, 204, 214);
  text-align: center;
}